:root {
  --text: #434455;
  --title: #2e2f42;
  --nav-hover: #404bbf;
  --backround-section1: #2e2f42;
  --background-section4: #f4f4fd;
  --footer-text: #e7e9fc;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: var(--text);
}
ul {
  list-style: none;
}

/* header */
header {
  background-color: #ffffff;
}

/* logo */

.logo-web {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;

  text-transform: uppercase;

  color: #4d5ae5;
  text-decoration: none;
}

.logo-studio {
  margin-left: -4px;
  color: #2e2f42;
}

/* nav */

.nav {
  font-weight: 600;
  text-decoration: none;
}
.nav-studio,
.nav-portfolio,
.nav-contact {
  text-decoration: none;
  color: var(--title);
}
.nav-studio:hover,
.nav-studio:focus {
  color: var(--nav-hover);
}
.nav-portfolio:hover,
.nav-portfolio:focus {
  color: var(--nav-hover);
}
.nav-contact:hover,
.nav-contact:focus {
  color: var(--nav-hover);
}

/* contact */

.mail {
  font-weight: 400;
  color: var(--text);
  text-decoration: none;
}

.mail:hover,
.mail:focus {
  color: var(--nav-hover);
}

.tel {
  font-weight: 400;
  color: var(--text);
  text-decoration: none;
}
.tel:hover,
.tel:focus {
  color: var(--nav-hover);
}

/* main */

/* section1 */

.section-1 {
  background-color: var(--backround-section1);
}

.solution-Business {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;

  text-align: center;

  color: #ffffff;
}

.button {
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: #ffffff;

  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--nav-hover);
}

/* section 2 */

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  color: var(--title);
}

/* section 3 */

.work {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;

  text-align: center;
  text-transform: capitalize;

  color: var(--title);
}

/* section 4 */

.section-4 {
  background-color: var(--background-section4);
}

.team {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;

  text-align: center;
  text-transform: capitalize;

  color: var(--title);
}

.team-card {
  background-color: #ffffff;
}

.team-card h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  color: var(--title);
}

.team-card p {
  color: var(--text);
}

/* footer */

footer {
  background: #2e2f42;
}
footer .logo-studio {
  color: #f4f4fd;
}

footer p {
  color: var(--footer-text);
}

/* PORTFOLIO */

/* section 1 */

.filters-button {
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #4d5ae5;

  cursor: pointer;
}

button:hover,
button:focus {
  background: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  color: #ffffff;
}

/* section 2 */

.project h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: var(--title);
}
